body {
 background-color: burlywood;
 margin-top: 50px;
 margin-left: 80px;
 margin-right: 80px;
 padding: 10px;
}

h1 {
 font-family: Garamond, Georgia, sans-serif;
 text-align: center;
}

h2 {
 text-align: center;
 font-family: Monaco, Lucidan, Console, sans-serif;
}

img {
 max-width: 100%;
 height: auto;
}

a {
 text-decoration: underline;
 color: blue;
 background-color: white;
}

p {
 font-size: 25px;
}

h3 {
 font-size: 40px;
}

h4 {
 text-align: center;
 margin-left: 80px;
 margin-right: 80px;
 position: fixed;
 bottom: 0;
}
