body {
 background-color: burlywood;
 margin-top: 50px;
 margin-left: 80px;
 margin-right: 80px;
}

h1 {
 font-family: Garamond, Georgia, sans-serif;
 text-align: center;
}

h2 {
 text-align: center;
 font-family: Monaco, Lucidan, Console, sans-serif;
}

img {
 width: 33%;
 height: 33%;
}

a {
 text-decoration: underline;
 color: blue;
}

p {
 font-size: 25px;
}

h4 {
 text-align: center;
 margin-left: 80px;
 margin-right: 80px;
 position: fixed;
 bottom: 0;
}




